In [1]:
import numpy as np
import pandas as pd
import scipy
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
sns.set()

In [3]:
df = pd.read_csv('Multiple_linear_regression.csv')

In [7]:
df.shape

(84, 3)

In [5]:
df.head()

    SAT   GPA  Rand 1,2,3
0  1714  2.40           1
1  1664  2.52           3
2  1760  2.54           3
3  1685  2.74           3
4  1693  2.83           2

# GPA = b0 + b1SAT + b2 Rand1,2,3

# create first multiple regression model