In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('dummy_variable.csv')

In [18]:
df.head(5)

    SAT   GPA Attendance
0  1714  2.40         No
1  1664  2.52         No
2  1760  2.54         No
3  1685  2.74         No
4  1693  2.83         No

In [19]:
data = df.copy()

# Convert Categorical Data(Dummt Data) to Numerical Data

In [20]:
data['Attendance'] = data["Attendance"].map({'Yes' : 1, 'No': 0})

In [23]:
data.describe()

               SAT        GPA  Attendance
count    84.000000  84.000000   84.000000
mean   1845.273810   3.330238    0.464286
std     104.530661   0.271617    0.501718
min    1634.000000   2.400000    0.000000
25%    1772.000000   3.190000    0.000000
50%    1846.000000   3.380000    0.000000
75%    1934.000000   3.502500    1.000000
max    2050.000000   3.810000    1.000000